<div>
    <h2>Welcome</h2>
    <form>
        <div class="form-group">
            <label for="email">Enter Email ID</label>
            <input type="email" id="email" placeholder="Enter email">
        </div>
        <div class="or">(OR)</div>
        <div class="form-group">
            <label for="mobile">Enter Mobile No.</label>
            <input type="tel" id="mobile" placeholder="999xxxxxx9">
        </div>
        <button type="button" (click)="onNextClick()">Next</button>
    </form>
</div>