.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.success-container .success-img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.success-container .success-img img {
    width: 100%;
    height: 100%;
}

.success-container h2 {
    color: #282C3F;
    font-size: 25px;
    line-height: 33px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
}

.success-container p {
    color: #737E8A;
    font-size: 18px;
    text-align: center;
}