.auth-container {
    display: flex;
    height: 100vh;
}

.auth-left {
    width: 45%;
    padding: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e7f0fa;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 118px;
}

.auth-left .illustration {
    width: 400px;
    position: relative;
    top: 120px;
}

.auth-left .illustration img {
    width: 100%;
    height: 100%;
}

.auth-right {
    width: 55%;
    padding: 85px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}