<div *ngIf="!isSuccess">
    <h2>Welcome Back, {{ userName }}!</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
            <label for="emailOrPhone">Enter Email ID</label>
            <input type="text" id="emailOrPhone" name="emailOrPhone" [value]="user.emailOrPhone" class="form-control"
                readonly />
        </div>
        <div class="form-group">
            <label for="password">Enter Password</label>
            <input type="password" id="password" name="password" placeholder="Password" class="form-control"
                [(ngModel)]="user.password" required />
            <div *ngIf="isPasswordIncorrect" class="error">
                Incorrect password. Please try again.
            </div>
        </div>
        <button type="submit">Next</button>
    </form>
</div>

<div *ngIf="isSuccess" class="success-container">
    <div class="success-img">
        <img src="assets/success.png" alt="success" />
    </div>
    <h2>Logging you in....</h2>
    <p>Kindly wait as we are curating the data accordingly.</p>
</div>